{% extends 'base.html.twig' %}
{% block title %}Accueil Immo IDF{% endblock %}

{% block body %}
    <div class="jumbotron" style="background-image: url('img/bvd.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; padding-top: 40px; height: calc(92vh - 66px); position: relative;">
        <div class="card bg-secondary mb-3">
        <div class="joyo">
            <h1 class="display-4" style="color:black; ">Bienvenue sur IMMO IDF</h1>
            <p class="lead">Votre site relatant les annonces d'Île-de-France </p>
        </div>
        </div>
        <br><br>
        <div class="joyo">
            <a href="{{ path('biens') }}" style="color:black" class="btn btn-light">
                Accéder aux annonces 
            </a>
        </div>
    </div>

   <footer class="bg-light text-dark text-center">
    <div class="container py-2">
        <p>
            <!-- Icône LinkedIn -->
            <a href="https://www.linkedin.com/in/mlb-njo/" class="social-icon"><i class="fab fa-linkedin"></i></a>
            <!-- Icône GitHub -->
            <a href="https://github.com/MLB-78" class="social-icon"><i class="fab fa-github"></i></a>
        </p>
        <p>&copy; 2024 IMMO IDF. Tous droits réservés.</p>
    </div>
</footer>

{% endblock %}
